fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
requests
torch
transformers
sentence-transformers
indic-transliteration
fasttext
llama-index-core
llama-index-llms-groq
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
